.cardForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

@media (max-width: 655px) {
  .cardForm {
    flex-direction: column;
    align-items: stretch;
  }
}
