@use "sass:math";
@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.favorite {
  background: none;
  border: none;
  cursor: pointer;
  color: gray;
}

.favoriteActive {
  color: gold;
}

.column {
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;
}

.cards {
  padding: math.div($base-size, 2) 0;
}