@import '../../styles/settings.scss';

.nav {
  background: darken($color-dark, 3%);

}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  color: $color-light;
  font-size: 24px;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
//   margin-left: auto;
  margin: 0;
  padding: 0;

  li a {
    color: $color-light;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: $color-warning;
    }
  }
}